{% extends "base.html" %}
{% block title %}
    RenAI
{% endblock %}

{% block content %}
<style>
    .card {
        border: 1px solid #d4d2d0;
        border-radius: 5px;
        padding: 20px;
        transition: .5s;
    }
    .card:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px  rgba(0, 0, 0, 0.22);
        cursor: pointer;
        transition: .5s;
    }
</style>
<div class="container-fluid">

    <div class="row d-flex align-items-center">
        <div class="col-4 text-center">
            <a class='card' href="{% url 'patients' %}"> 
                <h4>
                    Patients 
                </h4>
                <p>
                    List of patients. You can also add new patient here.
                </p>
            </a>
            
        </div>
        <div class="col-4 text-center">
            <a class='card' href="{% url 'radiographs' %}">
                <h4>
                    Diagnosises
                </h4>
                <p>
                    There is history of all radiographs diagnosis.
                </p>
            </a>
        </div>
        <div class="col-4 text-center">
            <a class='card' href="{% url 'add_radiographs' %}"> 
                <h4>
                    Upload radiograph 
                </h4>
                <p>
                    Choose existed patient and upload his radiograph.
                </p>
            </a>
        </div>
    </div>
</div>
{% endblock %}