{% extends 'base.html' %}
{% block title %} New patient {% endblock %}
{% block content %}
    <div class="container text-center">
        <div class="mt-5">
            <form action="" method="POST">
                {{ form.as_p }}
                {% csrf_token %}
            </form>    
        </div>
    </div>
    
{% endblock%}