{% extends 'base.html' %}
{% block title %} New radiograph {% endblock %}
{% block content %}
    <div class="container text-center">
        <h1 class='mt-5'>Add new radiograph</h1>
        <div class="mt-5">
            <form action="" method="POST">
                {{ form.as_p }}

                {% csrf_token %}
            </form>    
        </div>
    </div>
    
{% endblock%}