{% extends "base.html" %}
{% block title %}
    RenAI
{% endblock %}

{% block content %}
        <div class='text-center mb-3 mt-4'>
            <a href="{% url 'add_patient' %}" class="btn btn-primary">+ New patient</a>
        </div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Birth date</th>
              </tr>
            </thead>
            <tbody>
                {% for patient in object_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ patient.first_name }}</td>
                        <td>{{patient.last_name }}</td>
                        <td>{{ patient.birth_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
{% endblock %}