{% extends "base.html" %}
{% block title %}
    RenAI
{% endblock %}

{% block content %}

<table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Radiograph</th>
        <th scope="col">Patient</th>
        <th scope="col">Diagnosis</th>
        <th scope="col">Date</th>
      </tr>
    </thead>    
    <tbody>
        {% for radiograph in object_list %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><img src="{{ radiograph.snapshot.url }}" alt=""></td>
        <td>{{radiograph.patient}}</td>
        <td>{{radiograph.diagnosis}}</td>
        <td>{{radiograph.date}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
        
    </div>
{% endblock %}